/* color schemes to be usef for the site */

/* #142850
#27496d
#0c7b93
#00a8cc */

/* selectors */
body{
    background: linear-gradient(rgb(204, 229, 255), rgba(204, 229, 255, 0.2));
    font-size:0.9em;
    text-align: justify;
    font-style: normal;
    font-weight: 500;
    font-family:  sans-serif;

}
.title{
    color: rgb(186, 133, 9);
    font-weight: 500;
    font-style: oblique;
}
.subtitle{
    color: rgb(186, 133, 9);
    font-style: oblique;
}
.service-img{
    color: white;
    width: 50%;
    height: 300px;
    background: steelblue ;
    background: radial-gradient( blue, steelblue);
    border: 2px double black;


    
}
.link{
    text-decoration: none;
    color: red;
    text-transform: uppercase;
}
.link:hover{
    color: blue;
}
#about-me-img{
    height: 250px;
    width: 60%;
    border: 1px solid black;
    margin: 20px;
    float: right;
}
.site-table{
    display: inline-block;
}
.magic{
    font-size: 2em;
}
.magic:hover{
    color: rebeccapurple;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: baseline;
    

}
.flex-item{
    width: 100px;
    height: 50px;
    background: steelblue;
    color: white;
    margin: 3px;
    flex: 1 1 100px;
}

