/* color schemes to be usef for the site */

/* #142850
#27496d
#0c7b93
#00a8cc */

/* selectors */
h2{
    color: green;
}
.contact-us{
    color: teal;
}

/* psuedoselectors  => when something is done on the website*/

h2:hover{
    color: red;
    

}
ul li:last-child{
    color: white;
}
ul > li:only-child{
    color: red;
}
h2 + a{
    font-size: 2em;
}
textarea ~ button{
    color: chartreuse;
}
ul > li{
    font-size: 2em;
}
ul li {
    font-size: em;
}
h2[class=title]{
    color: red;
}
img[src*="./img/"]{
    border: 3px solid black;
    border-radius: 5px;
}